body {
    background-color: antiquewhite;
}

h1 {
    color: black;
    padding: 1em;
}

#bio {
    color: brown;
    padding: 2em;
    border: 1px solid;
    margin: 1em;
}

#topten {
    color: rgb(54, 42, 165);
    padding: 2em;
    border: 1px solid;
    margin: 1em;
}